node_modules
npm-debug.log
.vscode/*
.DS_Store

# environment variables
.env

# angular
dist/
tmp/
out-tsc/
.angular/

# amplify
src/aws-exports*
amplify/

# terraform
*.tfvars
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
