<div>
  <h1>Homepage</h1>
  <p>This page can be seen by everyone</p>

  <div class="auth-form-container" *ngIf="!isLoggedIn; else loggedInTemplate">
    <div class="auth-form-tabs">
      <button
        class="tab-button"
        (click)="setActiveTab('signIn')"
        [class.active]="activeTab === 'signIn'"
      >
        Sign in
      </button>
      <button
        class="tab-button"
        (click)="setActiveTab('createAccount')"
        [class.active]="activeTab === 'createAccount'"
      >
        Create Account
      </button>
    </div>

    <div *ngIf="activeTab === 'signIn'">
      <h2 class="form-header">Sign in to your account</h2>
      <form class="form" (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="form-field">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="enteredEmail"
            name="email"
            required
            email
            placeholder="Email"
            #emailInput="ngModel"
          />
          <div
            *ngIf="emailInput.invalid && emailInput.touched"
            class="error-message"
          >
            <div *ngIf="emailInput.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="emailInput.errors?.['email']">
              Invalid email format.
            </div>
          </div>
        </div>
        <div class="form-field">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="enteredPassword"
            name="password"
            required
            placeholder="Password"
          />
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
      </form>
    </div>

    <div *ngIf="activeTab === 'createAccount'">
      <h2 class="form-header">Create a new account</h2>
      <form class="form" (ngSubmit)="onSignUp()" #signUpForm="ngForm">
        <div class="form-field">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="enteredEmail"
            name="email"
            required
            email
            placeholder="Email"
            #signUpEmailInput="ngModel"
          />
          <div
            *ngIf="signUpEmailInput.invalid && signUpEmailInput.touched"
            class="error-message"
          >
            <div *ngIf="signUpEmailInput.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="signUpEmailInput.errors?.['email']">
              Invalid email format.
            </div>
          </div>
        </div>
        <div class="form-field">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="enteredPassword"
            name="password"
            required
            placeholder="Password"
          />
        </div>
        <div class="form-field">
          <label for="confirmPassword">Confirm Password:</label>
          <input
            type="password"
            id="confirmPassword"
            [(ngModel)]="enteredConfirmPassword"
            name="confirmPassword"
            required
            placeholder="Confirm Password"
          />
        </div>
        <button type="submit" [disabled]="signUpForm.invalid">
          Create Account
        </button>
      </form>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>

  <ng-template amplifySlot="authenticated" #loggedInTemplate>
    <h2>Welcome, {{ user?.username }}!</h2>
    <button (click)="onLogout()">Sign Out</button>
  </ng-template>
</div>
